<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2024. David W. Streever All Rights Reserved
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<configuration>

    <springProperty name="LOGS" source="LOGGING_DIR" defaultValue="${user.home}/.hcfs-cli/logs" />
    <springProperty name="LOG_FILE_PREFIX" source="LOGGING_FILE_PREFIX" defaultValue="hcfs-cli" />
    <springProperty name="LOG_THRESHOLD" source="LOGGING_THRESHOLD" defaultValue="WARN" />


    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] [%boldYellow(%class{1})]: %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/${LOG_FILE_PREFIX}.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %class{1} [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/${LOG_FILE_PREFIX}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at WARN level -->
    <root level="${LOG_THRESHOLD}">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <logger name="com.jcabi" level="warn" additivity="false">
        <appender-ref ref="RollingFile" />
    </logger>
    <logger name="org.apache.hadoop" level="warn" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener" level="debug" additivity="false">
        <appender-ref ref="RollingFile" />
    </logger>

</configuration>
